html {
  box-sizing: border-box;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #494440;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
}

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: black;
  color:#ffffff;
  padding: .5em 1em;
  font-weight: bold;
}

.skip-links a:focus {
  top: 0;
}

p, address, ul, form, button, footer {
  color: #ffffff;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-nav {
  width: 1080px;
  position: relative;
  margin: 0 auto;
}

a:focus {
  outline: 4px solid black;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color:#ffffff;
}

a:active {
  color: #ffffff;
}

.main-nav a:hover {
  border-bottom: 2px solid #FFFFFF;
}

.banner {
  width: 450px;
  float: right;
  padding-top: 3.5rem;
}

.jd {
  width: 400px;
  float: right;
  padding-left: 2rem;
}

.owner {
  float: right;
}

.welcome {
  padding-top: 1rem;
  font-size: large;
}

.address {
  font-size: larger;
}

.contact-section {
  padding-top: 12rem;
}

ul {
  font-size: larger;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid #ffffff;
  padding: 1rem;
  text-transform: uppercase;
}

form {
  font-size: x-large;
}

footer {
  padding: 2rem 0;
}

/* References

https://imdac.github.io/mtm6201/content/#week-4
http://web-accessibility.carnegiemuseums.org/design/color/
https://www.w3schools.com/howto/howto_css_navbar_border.asp
https://www.w3.org/TR/wai-aria-1.1/#roles_categorization 
https://codepen.io/IMD/pen/QWgmBzG
https://codepen.io/IMD/pen/ZEyxjJK
https://codepen.io/IMD/pen/bGRvjPw
https://www.youtube.com/watch?v=38JDscMbB4I&ab_channel=WebAccessibilityEducation
https://www.w3schools.com/html/html_links_colors.asp

*/